#miniBasket{

}

#myBasket{
    }

#checkoutLink{
    background-color: #e2122f;
    border: 1px solid #96122c;
    box-shadow: 0 2px 0 0 #96122c;
    color: #f6f6f6;
}
.viewBasketDetails{
background-color: #f6f6f6;
border: 1px solid #22262d;
box-shadow: 0 2px 0 0;
color: #22262d;

}

.miniBasketButton {
    border-radius: 0.2em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 1.2em;
    text-align: center;
    vertical-align: middle;
}