#checkoutLink{
    background-color: #e2122f;
    border: 1px solid #96122c;
    box-shadow: 0 2px 0 0 #96122c;
    color: #f6f6f6;
    }

#miniBasketBackground{
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22262d;
    opacity: 0.5;
    }

#totalQuantity{
    border-radius: 50%;
    font-size: 9px;
    font-weight: 700;
    line-height: 2em;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 2em;
    z-index: 1;
    background: #e2122f none repeat scroll 0 0;
    color: white;
    }

.miniBasketLabel{
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    float:left;
    }

.miniBasketPrice{
    text-align: right;
    padding-right: 20px
    }

#miniBasketDetails{
    padding: 20px;
    z-index: 100001;
    margin-top: 1px;
    max-width: 80%;
    min-width: 30em;
    position: absolute;
    width: 50%;
    left: 25%;
    top: auto;
    border: 1px solid #eee;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    box-shadow: #eeeeee 2px 2px 2px ;
    }

#miniBasketContent{
    max-height: 30em;
    overflow-y: auto;
    overflow-x: hidden
    }

.row {width: 100%;
    position: relative;clear: both}
.viewBasketDetails{
    background-color: #f6f6f6;
    border: 1px solid #22262d;
    box-shadow: 0 2px 0 0;
    color: #22262d;
    }

.miniBasketButton {
    right: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 1.2em;
    text-align: center;
    vertical-align: middle;
    }

.basketItemInformation{
    vertical-align: top;
    padding: 20px;
    white-space: normal;
    display: inline-block;
    width: 10em;
    }

#miniBasketOptions{
    padding: 20px;
    border-top: dashed 2px #eeeeee
    }

.basketItemPrice{
    padding: 20px;
    float: right;
    }

#miniBasketFooter{
    border-top: 1px solid #eeeeee;
    padding: 20px;
    }